body{
  font-family: Tahoma;
}

.author{
  margin-top: 10px;
  width: 150px;
}

.card{
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px 20px;
  margin: 5px;
}

.group{
  padding: 5px;
  background-color: lightsalmon;
  text-align: center;
  font-size: 20px;
}

.group p{
  font-size: 15px;
}

.group h5{
  margin-top: 2px;
}

.title{
  background-color: lightseagreen;
  padding: 5px;
  position: sticky;
  top: 0px;
  position: relative;   
  width:100%;
}

.title h3{
  color: white;
  text-align: center;
  margin-bottom: 2px;
}

body{
  margin: 0;
  padding: 0;
}

.content{
  position: relative;
}

h6{
  font-size: 15px;
  margin-bottom: 5px;
  color: lightseagreen;
}

footer{
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

*{
  box-sizing: border-box;
}

@media screen and (max-width: 1000px){
  #content{
      width: 100%;
      padding: 0;
  }
}

@media screen and (max-width: 1200px) {
  main {
      flex-flow: column nowrap;
  }
}

@media screen and (max-width:768px) {
  main{
      align-self: stretch;
  }
}